<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
  <h3>
    投稿する
  </h3>
<input placeholder="Nicname" type="text" name="name">
<input placeholder="Image Url" type="text" name="image">
<textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
<input type="submit" value="SENT">
<% end %>
</div>
<!-- <div>
  <form action="/test" method="post">
  <input type="text" id="name">
  <input type="submit">
    <h3>
      サンプルフォーム
    </h3>
    <div>
      <label>Name:</label>
      <input placeholder="Name" type="text" id="name">
    </div>
    <div>
      <label>E-mail:</label>
      <input placeholder="E-mail" type="email" id="mail">
    </div>
    <div>
    <label>Message:</label>
    <textarea placeholder="Message" id="message"></textarea>
    </div>
    <div>
      <input type="submit">
    </div>
    </form>
</div> -->